{% extends 'layout.twig' %}

{% block contents %}
<div class="row mt-4">
    <div class="col-6">
        <h5>
            Your Files
        </h5>
    </div>
    <div class="col-6 text-right pr-4">
        <a href="{{ url_for('files.upload') }}">
            <span class="oi oi-plus text-success"></span>
        </a>
    </div>
</div>

<hr>

<div class="row pt-5">
    {% if empty %}
    <div class="col-12 text-center">
        <h3 class="text-secondary">You have no files</h3>
        <div class="pt-5">
            <a href="{{ url_for('files.upload') }}">
                <button type="button" class="btn btn-success">Upload File</button>
            </a>
        </div>
    </div>

    {% else %}
    {% for file in files %}
    <div class="col-12 col-md-6 col-lg-3 p-3">
        <a href="{{ url_for('file.show', { 'id' : file.id }) }}" style="text-decoration: none">
            <div class="px-3">
                <div class="card p-4 text-center">
                    <img src="/assets/img/file.svg">
                    <h6 class="text-success pt-3">{{ file.filename }}
                    </h6>
                </div>
            </div>
        </a>

    </div>
    {% endfor %}

    {% endif %}

</div>



{% endblock %}