{% extends 'layout.twig' %}

{% block contents %}

	<div class="row pt-5">

        <div class="col-12 col-md-4 text-center">
            <div style="max-width: 400px;">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">
                            {{ file.filename }}
                        </h5>
                    </div>
                    <div class="card-body">
                        <label class="text-secondary">Notes</label>
                        <p class="mt-4">
                            {% if file.note != '' %}
                                {{ file.note }}
                            {% else %}
                                <span class="text-secondary">
                                    No notes for this file
                                </span>
                            {% endif %}
                        </p>
                    </div>
                </div>


            </div>
        </div>
        <div class="col-12 col-md-6 ">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">File</h5>
                </div>
                <div class="card-body">

                    <div class="form-group">
                        <a target="_blank" href="{{ file.file_path }}">
                            <button type="button" class="btn btn-info">View File</button>
                        </a>
                    </div>

                </div>
            </div>
        </div>


    </div>



{% endblock %}
