{% extends 'layout.twig' %}

{% block contents %}
<h5>
    Upload New File
</h5>
<hr>
<form method="POST" action="{{ url_for('files.upload') }}" enctype="multipart/form-data">
    <div class="row pt-5">

        <div class="col-12 col-md-4 text-center">
            <div style="max-width: 400px;">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">
                            File Data
                        </h5>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="filename">File Name</label>
                            <input type="text" class="form-control" id="filename" name="filename"
                                placeholder="My File" required>
                        </div>
                        <div class="form-group">
                            <label for="notes">Notes</label>
                            <textarea class="form-control" id="notes" name="notes" rows="3"></textarea>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="col-12 col-md-6 ">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">File</h5>
                </div>
                <div class="card-body">

                    <div class="form-group">
                        <label for="file" class="mb-4">Select a File</label>
                        <input type="file" class="form-control-file" id="file" name="file">
                    </div>

                </div>
            </div>
            <div class="text-right mt-5">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </div>


    </div>
</form>


{% endblock %}