{% extends 'layout.twig' %}

{% block contents %}
<div class="row mt-4">
    <div class="col-6">
        <h5>
            Employees
        </h5>
    </div>
</div>

<hr>

<div class="row py-5">
    {% for employee in employees %}

    <div class="col-12 col-sm-6 col-md-4 col-lg-3 p-3">
        <a href="{{ url_for('employees.ind', {'id': employee.EmployeeId }) }}" style="color: #333;text-decoration: none;">
            <div class="px-3">
                <div class="card p-4 card-link-shadow-hover" style="overflow: hidden;">
                    <h6 class="text-success pt-3">{{ employee.LastName }}, {{ employee.FirstName }}</h6>
                    <p style=>
                        <span style="display:block">
                            <strong>Title: </strong>{{ employee.Title }}
                        </span>
                        <span style="display:block">
                            <strong>Email: </strong>{{ employee.Email|slice(0,10) ~ '...' }}
                        </span>
                    </p>
                </div>
            </div>
        </a>
    </div>

    {% endfor %}

</div>

{% endblock %}