{% extends 'layout.twig' %}

{% block contents %}
<div class="row mt-4">
    <div class="col-6">
        <h5>
            Invoices
        </h5>
    </div>
</div>

<hr>

<div class="row py-5">
    {% for invoice in invoices %}

    <div class="col-12 col-sm-6 col-md-4 col-lg-3 p-3">
        <a href="{{ url_for('invoices.ind', {'id': invoice.InvoiceId }) }}"
           style="color: #333;text-decoration: none;">
            <div class="px-3">
                <div class="card p-4 card-link-shadow-hover" style="overflow: hidden;">
                    <h6 class="text-success pt-3">{{ invoice.InvoiceId }}</h6>
                    <p>
                    <span style="display:block">
                        <strong>Date: </strong>{{ invoice.InvoiceDate }}
                    </span>
                    <span style="display:block">
                        <strong>Total: </strong>$ {{ invoice.Total }}
                    </span>
                    </p>
                </div>
            </div>
        </a>
    </div>

    {% endfor %}

</div>

{% endblock %}
