{% extends 'layout.twig' %}

{% block contents %}
<div class="row mt-4">
    <div class="col-6">
        <h5>
            Your Collections
        </h5>
    </div>
</div>

<hr>

<div class="row py-5">
    <div class="col-12 col-md-6 col-lg-3 p-3">
        <a href="{{ url_for('employees.home') }}" style="text-decoration: none;">
            <div class="px-3">
                <div class="card p-4 text-center card-link-shadow-hover">
                    <img style="height: 2rem; " src="/assets/img/user.svg">
                    <h6 class="text-success pt-3">Employees</h6>
                </div>
            </div>
        </a>
    </div>
    <div class="col-12 col-md-6 col-lg-3 p-3">
        <a href="{{ url_for('customers.home') }}" style="text-decoration: none">
            <div class="px-3">
                <div class="card p-4 text-center card-link-shadow-hover">
                    <img style="height: 2rem; " src="/assets/img/user_2.svg">
                    <h6 class="text-success pt-3">Customers</h6>
                </div>
            </div>
        </a>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-3 p-3">
        <a href="{{ url_for('invoices.home') }}" style="text-decoration: none">
            <div class="px-3">
                <div class="card p-4 text-center card-link-shadow-hover">
                    <img style="height: 2rem; " src="/assets/img/file.svg">
                    <h6 class="text-success pt-3">Invoices</h6>
                </div>
            </div>
        </a>
    </div>

</div>

<div class="row py-5">
    <div class="col-12 col-md-6 ">
        <div class="px-3">
            <h6 class="text-success pt-3">Employees</h6>
            <hr>
            {% for employee in employees %}
            <p class="text-secondary">
                <a class="text-secondary" href="{{ url_for('employees.ind', {'id': employee.EmployeeId }) }}">
                    {{ employee.LastName }}, {{ employee.FirstName }} - {{ employee.Title }}
                </a>
            </p>
            {% endfor %}
            <p class="text-secondary">
                <a class="text-secondary" href="{{ url_for('employees.home') }}" style="text-decoration: none;">
                    View More
                </a>
            </p>
        </div>
    </div>
    <div class="col-12 col-md-6 ">
        <div class="px-3">
            <h6 class="text-success pt-3">Customers</h6>
            <hr>
            {% for customer in customers %}
            <p class="text-secondary">
                <a class="text-secondary" href="{{ url_for('customers.ind', {'id': customer.CustomerId }) }}">
                    {{ customer.LastName }}, {{ customer.FirstName }} - {{ customer.Company }}
                </a>
            </p>
            {% endfor %}
            <p class="text-secondary">
                <a class="text-secondary" href="{{ url_for('customers.home') }}" style="text-decoration: none;">
                    View More
                </a>
            </p>
        </div>
    </div>

</div>



{% endblock %}