{% extends 'layout.twig' %}

{% block contents %}
<div class="row mt-4">
    <div class="col-6">
        <h5>
            {{ title }}
        </h5>
    </div>
</div>

<hr>

<div class="row py-5">

    <div class="col-12">
        {% for key,value in entry %}
        {% if key == 'Total' %}
        {% set dollar = '$' %}
        {% else %}
        {% set dollar = '' %}
        {% endif %}
        <span style="display:block">
            <strong>{{ key }}: </strong>{{ dollar }} {{ value }}
        </span>
        {% endfor %}
    </div>
</div>

<hr>

{% endblock %}
