<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('home') }}">Sample App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item{% if is_current_url('home') %} active{% endif %}">
                    <a class="nav-link" href="{{ url_for('home') }}">
                        Home
                        {% if is_current_url('home') %}
                            <span class="sr-only">(current)</span>
                        {% endif %}
                    </a>
                </li>
                <li class="nav-item{% if is_current_url('employees.home') %} active{% endif %}">
                    <a class="nav-link" href="{{ url_for('employees.home') }}">
                        Employees
                        {% if is_current_url('employees.home') %}
                            <span class="sr-only">(current)</span>
                        {% endif %}
                    </a>
                </li>
                <li class="nav-item{% if is_current_url('customers.home') %} active{% endif %}">
                    <a class="nav-link" href="{{ url_for('customers.home') }}">
                        Customers
                        {% if is_current_url('customers.home') %}
                            <span class="sr-only">(current)</span>
                        {% endif %}
                    </a>
                </li>
                <li class="nav-item{% if is_current_url('invoices.home') %} active{% endif %}">
                    <a class="nav-link" href="{{ url_for('invoices.home') }}">
                        Invoices
                        {% if is_current_url('invoices.home') %}
                            <span class="sr-only">(current)</span>
                        {% endif %}
                    </a>
                </li>
            </ul>
            <div class="my-2 my-lg-0">
                {%if uinfo %}
                    <span class="pr-3">{{ uinfo.lastname }}
                        {{ uinfo.firstname }}</span>
                    <a class="btn btn-outline-success my-2 my-sm-0" href="{{ url_for('logout') }}">Logout</a>
                {% else %}
                    <a class="btn btn-outline-secondary my-2 my-sm-0" href="{{ url_for('login') }}">Login</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
